/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Start variables  */
:root {
  --main-color: rgb(31, 31, 31);
  --sec-color: rgb(252, 252, 252);
  --main-text-color: #bfbfbf;
  --shadow-text-color: #2a2a2a;
  --border-color: rgb(51, 51, 51);
  --qoute-color: #2b2b2b;

  --constant-color: rgb(255, 181, 102);
  --head-text-color: rgb(38, 38, 38);
  --color-but: #fff;
  --but-color: #2b2b2b;
  --frist-but-color: #3d3d3d;
  --sec-text-color: rgb(162, 170, 173);
  --thr-text-color: #a1a1a1;

  --pad-sec-top: 7em;
  --pad-sec-bot: 3em;
}
/* Body Dark mood */
body.mood-changer {
  --main-color: rgb(252, 252, 252);
  --sec-color: rgb(31, 31, 31);
  --main-text-color: #3d3d3d;
  --shadow-text-color: rgba(40, 37, 37, 10%);
  --border-color: rgb(231, 231, 231);
  --qoute-color: rgb(252, 252, 252);
}
/* Global rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body,
input,
button {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--main-color);
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
ul {
  list-style: none;
}
/* CSS Class repeated */
.general-but {
  background-color: var(--frist-but-color);
  color: var(--color-but);
  transition: 0.2s ease;
  text-transform: uppercase;
}
.general-but:hover {
  background-color: #494949;
}
.box-show {
  border: 1px solid var(--border-color);
}
.box-show:hover {
  box-shadow: 2px 2px 5px var(--border-color), -2px -2px 5px var(--border-color);
}

.special-heading p {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--sec-color);
  margin-bottom: 2em;
  position: relative;
}
.special-heading p::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -0.7em;
  transform: translateX(-50%);
  width: 3.2em;
  height: 0.08em;
  background-color: var(--constant-color);
}
@media (max-width: 768px) {
  .special-heading {
    font-size: 14px;
  }
}
.container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}
/* Start Header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1000;
}
.header.scroll-header {
  background-color: var(--main-color);
  box-shadow: 0 1px 4px var(--shadow-text-color);
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  font-weight: bold;
  color: var(--sec-color);
}
.logo-link {
  display: flex;
  align-items: center;
  color: var(--sec-color);
}
.logo i {
  padding-right: 0.1em;
  font-size: 1.25em;
}
.logo span {
  text-transform: uppercase;
  font-size: 1.05em;
  margin-bottom: -0.1em;
}
.header .nav-link {
  color: var(--sec-color);
  text-transform: capitalize;
  transition: color 0.2s ease;
  font-size: 1.06em;
  font-weight: 500;
}
.header .nav-link:hover,
.header .nav-link.active {
  color: var(--constant-color);
}
.header button {
  padding: 0.1em;
  margin-right: 0.3em;
  font-size: 1.3em;
}
.header .mood i {
  transition: 0.3s ease;
}
.header.scroll-header button {
  color: var(--sec-color);
}
@media (max-width: 768px) {
  .header .nav {
    padding-top: 1.1em;
    padding-bottom: 1.1em;
  }
  .header .nav-menu {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 100%;
    background-color: var(--main-color);
    transition: left 0.3s ease;
  }
  .header .nav-menu.play-menu {
    left: 0;
  }
  .header .nav-link {
    font-size: 1.2em;
    letter-spacing: 0.05em;
  }
  .header .x-menu {
    color: var(--sec-color);
    padding: 0.5em;
    text-align: right;
    font-size: 2.2em;
  }
  .x-menu i {
    cursor: pointer;
    padding: 0.02em;
  }
  .header .nav-item {
    text-align: center;
  }
  .header .nav-link {
    display: inline-block;
    padding: 0.6em;
    margin-bottom: 0.6em;
    font-weight: 800;
  }
}
@media (min-width: 769px) {
  .header .nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-top: 1.6em;
    padding-bottom: 1.6em;
  }
  .header .nav-list {
    display: flex;
  }
  .nav-menu .x-menu {
    display: none;
  }
  .header .fixed-menu {
    display: none;
  }
  .nav-menu {
    margin-left: 3em;
  }
  .nav-menu .nav-link {
    padding: 0.3em;
    margin-right: 2.3em;
  }
}
/* End Header */
/* Start Main Home */
.home {
  background-color: var(--main-color);
}
.home .container {
  position: relative;
}
.home .home-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin-left: 2em;
  position: relative;
}
.home .home-text {
  padding: 1.5em;
}
.home .home-text h1 {
  color: var(--sec-color);
  font-size: 2.4em;
  font-weight: 800;
  line-height: 1.3;
  text-transform: uppercase;
}
.home .home-text .home-par {
  color: var(--main-text-color);
  margin-bottom: 2em;
  padding-right: 1.5em;
  line-height: 1.5;
  font-size: 1.1em;
}
.home .home-text .home-price {
  font-size: 1.5em;
  color: var(--constant-color);
  font-weight: 600;
  margin: 1.5em 0;
}
.home .home-buts {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
}
.home .home-buts button:first-child {
  padding: 0.95em 1.15em;
  color: var(--but-color);
  background-color: var(--thr-text-color);
  text-transform: capitalize;
  font-size: 1.1em;
  font-weight: 400;
  transition: 0.1s ease;
}
.home .home-buts button:first-child:hover {
  background-color: var(--sec-text-color);
}
.home .home-buts button:last-child {
  padding: 1.4em 2.2em;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
}
.home .home-img {
  width: 40em;
  align-self: flex-start;
  padding: 6em 2em 3em;
  background: var(--constant-color);
}
.home-social {
  position: absolute;
  top: 45%;
  left: 0;
  font-size: 0.9em;
  transform: translateX(-45%) rotate(-90deg);
}
.home-social a {
  display: inline-block;
  padding: 0 0.5em;
  color: var(--main-text-color);
}
@media (max-width: 750px) {
  .home {
    font-size: 13px;
  }
  .home .home-flex {
    flex-direction: column-reverse;
  }
  .home .container {
    padding: 0;
  }
  .home .home-text {
    padding-left: 0;
  }
  .home .home-text .home-price {
    font-size: 1.5em;
    color: var(--constant-color);
    font-weight: 600;
    margin: 1em 0;
  }
  .home .home-img {
    width: 23em;
    padding: 6em 2em 2em;
    align-self: flex-end;
  }
  .home-social {
    top: 30%;
    transform: translateX(-32%) rotate(-90deg);
  }
}
/* End Main Home */

/* Start Article Featured  */
.featured {
  background-color: var(--main-color);
  padding-top: var(--pad-sec-top);
  padding-bottom: var(--pad-sec-bot);
}
.featured .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.5em, 1fr));
  gap: 3em;
}
.featured .feat-item {
  padding: 2em 1em;
  height: fit-content;
  position: relative;
  text-align: center;
  background-color: var(--qoute-color);
}
.featured .feat-item img {
  width: 10em;
}
.featured .feat-item .feat-name {
  font-size: 1em;
  color: var(--sec-color);
  margin: 1.1em 0;
  text-transform: uppercase;
  font-weight: 500;
}
.featured .feat-item .feat-value {
  font-size: 1.2em;
  color: var(--constant-color);
  margin: 0.5em;
}
.featured .feat-tag {
  position: absolute;
  top: 4em;
  left: 0;
  padding: 0.5em 1em;
  font-size: 0.9em;
  color: var(--color-but);
  background-color: var(--constant-color);
  text-transform: uppercase;
  transform: rotate(-90deg) translateY(-50%);
}
.featured .add-cart {
  width: fit-content;
  margin: 1.5em auto 0;
  padding: 0 1.5em;
  font-size: 1em;
  height: 0;
  overflow: hidden;
}
.featured .feat-item:hover .add-cart {
  padding: 1em 1.5em;
  height: fit-content;
}
@media (max-width: 768px) {
  .featured {
    font-size: 14px;
  }
  .featured .container {
    padding-left: 2em;
    padding-right: 2em;
  }
  .featured .feat-item {
    padding: 1.5em 0.5em;
  }
}
@media (max-width: 320px) {
  .featured {
    font-size: 10px;
  }
}
/* End Article Featured  */
/* Start Story */
.story {
  background-color: var(--main-color);
  padding-top: var(--pad-sec-top);
  padding-bottom: var(--pad-sec-bot);
}
.story .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.story .container .story-watch {
  flex-basis: 40%;
  width: fit-content;
}
.story .container .story-text {
  flex-basis: 45%;
}
.story .story-watch {
  position: relative;
}
.story .story-watch img {
  left: 4em;
  top: -4em;
  height: 100%;
  position: absolute;
}
.story .story-watch .story-box {
  background-color: var(--constant-color);
  width: 23em;
  height: 23em;
}
.story .story-text {
  padding: 1em;
}
.story-text .story-title {
  color: var(--sec-color);
  text-transform: uppercase;
  font-size: 1.3em;
  width: fit-content;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 1em;
  position: relative;
}
.story-text .story-title::before {
  content: "";
  position: absolute;
  top: -1em;
  left: 0;
  height: 0.1em;
  width: 2em;
  background-color: var(--constant-color);
}
.story-text h2 {
  margin: 1em 0;
  color: var(--sec-color);
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.6;
}
.story-text p {
  color: var(--main-text-color);
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.6em;
}
.story-text button {
  padding: 1em 2em;
  text-transform: capitalize;
  font-size: 1.1em;
}
@media (max-width: 992px) {
  .story .story-watch .story-box {
    width: 18em;
    height: 18em;
  }
}
@media (max-width: 768px) {
  .story {
    font-size: 14px;
  }
  .story .story-watch .story-box {
    width: 18em;
    height: 18em;
  }
  .story .story-watch img {
    left: 3em;
    top: -3em;
  }

  .story .container .story-text {
    flex-basis: 95%;
    padding-left: 0;
    font-size: 16px;
    margin-top: 3em;
  }
}
@media (max-width: 320px) {
  .story .story-watch .story-box {
    width: 14em;
    height: 14em;
  }
  .story .story-watch img {
    left: 1em;
    top: -1em;
  }
}
/* End Story */

/* Start Products */
.products {
  padding-top: var(--pad-sec-top);
  padding-bottom: var(--pad-sec-bot);
  background-color: var(--main-color);
}
.products .container {
  display: grid;
  grid-template-columns: repeat(3, 14em);
  justify-content: center;
  gap: 1.7em;
}
.products .prod-item {
  padding: 2em 2em;
  position: relative;
  text-align: center;
  background-color: var(--qoute-color);
}
.prod-item img {
  padding: 0 2em;
}
.prod-item h4 {
  font-size: 0.8em;
  color: var(--sec-color);
  margin: 1.1em 0;
  font-weight: 500;
  text-transform: uppercase;
}
.prod-item h5 {
  font-size: 1em;
  color: var(--constant-color);
}
.prod-item .general-but {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5em 0.6em;
  font-size: 1.1em;
}
@media (max-width: 786px) {
  .products {
    font-size: 13px;
  }
  .products .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .prod-item img {
    padding: 0 0.6em;
    width: 13em;
  }
}
@media (max-width: 320px) {
  .products .container {
    grid-template-columns: repeat(1, 10em);
  }
  .story .story-watch .story-box {
    width: 15em;
    height: 15em;
  }
}
/* End Products */

/* Start Review */
.review {
  padding-top: var(--pad-sec-bot);
  padding-bottom: var(--pad-sec-bot);
  background-color: var(--main-color);
}
.review .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.review-items {
  flex-basis: 40%;
  margin: 0;
  /* box-shadow: 2px 2px 3px var(--shadow-text-color); */
}
.review-items .review-item {
  padding: 1em 0 4em;
  position: relative;
}
.review-item i {
  font-size: 1.3em;
  padding: 0.5em;
  color: var(--constant-color);
  background-color: var(--qoute-color);
  box-shadow: 1px 1px 2px var(--shadow-text-color);
}
.review-par {
  color: var(--main-text-color);
  font-size: 1em;
  line-height: 1.4;
  margin-top: 1.3em;
}
.review-data {
  font-size: 1em;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: var(--sec-color);
}
.review-person {
  display: flex;
  align-items: center;
}
.review-person img {
  width: 4.5em;
  border-radius: 50%;
}
.review-person .review-text {
  margin-left: 1em;
}
.review-person h5 {
  font-size: 1em;
  color: var(--sec-color);
  text-transform: capitalize;
}
.review-person p {
  font-size: 0.9em;
  margin: 0.6em 0;
  color: var(--main-text-color);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--constant-color);
  font-size: 1.5em;
  padding: 0.3em 0.8em;
  background-color: var(--qoute-color);
  top: initial;
  bottom: 0;
  height: fit-content;
  box-shadow: 1px 1px 2px var(--shadow-text-color);
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  left: 2.5em;
}

.review .review-img {
  position: relative;
}
.review-img .review-box {
  width: 27em;
  height: 27em;
  background-color: var(--constant-color);
}
.review-img img {
  position: absolute;
  top: 3em;
  left: -3em;
  width: 100%;
}

@media (max-width: 992px) {
  .review {
    font-size: 15px;
  }
  .review-img .review-box {
    width: 20em;
    height: 20em;
  }
}
@media (max-width: 768px) {
  .review {
    font-size: 16px;
  }
  .review .container {
    justify-content: center;
  }
  .review .review-items {
    flex-basis: 90%;
    margin-bottom: 4em;
  }
  .review-img .review-box {
    width: 22em;
    height: 22em;
  }
}
@media (max-width: 512px) {
  .review-img {
    margin: 0 0 0 auto;
  }
  .review-img .review-box {
    width: 16em;
    height: 16em;
  }
  .review-img img {
    top: 2em;
    left: -2em;
  }
}
@media (max-width: 320px) {
  .review-img .review-box {
    width: 12em;
    height: 12em;
  }
  .review-img img {
    top: 1em;
    left: -1em;
  }
}

/* Start New */
.new {
  padding-top: var(--pad-sec-top);
  padding-bottom: var(--pad-sec-bot);
  background-color: var(--main-color);
}
.new .container .new-item {
  padding: 2em;
  border: 1px solid var(--border-color);
  background-color: var(--qoute-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  transition: 0.3s ease;
}

.new .new-item img {
  padding: 1em 0em;
  width: 8em;
}
.new-item h3 {
  font-size: 0.9em;
  color: var(--sec-color);
  text-transform: uppercase;
  margin: 0.6em 0;
}
.new-item .new-prise {
  color: var(--constant-color);
  font-size: 1.1em;
  margin: 0.2em 0 1em;
  transition: 0.3s ease;
  font-weight: 700;
}
.new-item .new-new {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 0.4em 0.7em;
  color: var(--color-but);
  background-color: var(--constant-color);
  transition: 0.2s ease;
}
.new-item .general-but {
  padding: 0 1em;
  color: var(--color-but);
  font-size: 0.9em;
  text-transform: uppercase;
  height: 0;
  overflow: hidden;
  transition: 0.4s ease;
}
.new .new-item:hover {
  background-color: var(--constant-color);
}
.new-item:hover h3 {
  color: var(--head-text-color);
}
.new-item:hover .new-prise {
  color: var(--but-color);
}
.new-item:hover .new-new {
  background-color: var(--but-color);
}
.new-item:hover .general-but {
  height: fit-content;
  padding: 1em;
}
@media (max-width: 320px) {
  .new {
    font-size: 14px;
  }
}
/* End New */

/* Start contact us */
.contact {
  padding-top: var(--pad-sec-bot);
  padding-bottom: var(--pad-sec-bot);
  padding-left: 1em;
  padding-right: 1em;
  background-color: var(--main-color);
}
.contact .container {
  display: grid;
  background-color: var(--constant-color);
  padding-top: 2em;
  padding-bottom: 2em;
  gap: 1.5em;
}
.contact .contact-text {
  margin-bottom: 1em;
  text-align: center;
}
.contact .contact-text h6 {
  margin-bottom: 0.6em;
  color: var(--head-text-color);
  font-size: 1.2em;
  line-height: 1.5;
}
.contact .contact-text p {
  color: var(--frist-but-color);
  font-size: 0.8em;
  line-height: 1.5;
}
.contact .form #text {
  margin-bottom: 1em;
  padding: 1.2em;
  width: 100%;
  font-size: 1.1em;
  color: var(--head-text-color);
  border: none;
  outline: none;
}
.contact [type="submit"] {
  padding: 1.2em;
  font-size: 1.1em;
  border: none;
  outline: none;
  width: 100%;
  color: var(--color-but);
  cursor: pointer;
}
@media (min-width: 768px) {
  .contact {
    padding-left: 3em;
    padding-right: 3em;
  }

  .contact .container {
    grid-template-columns: 1fr 1fr;
    padding: 3em 2em;
    max-width: 90%;
  }
  .contact .contact-text {
    text-align: left;
  }

  .contact .form {
    height: 100%;
  }
  .contact .form form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 14px;
  }
  .contact [type="submit"],
  .contact .form #text {
    width: fit-content;
  }
  .contact .form #text {
    margin-bottom: 0;
    margin-left: 1em;
    width: 11.5em;
  }
}
@media (min-width: 992px) {
  .contact .container {
    padding: 3em 4em;
    margin: auto;
  }
  .contact .contact-text h6 {
    font-size: 2em;
  }
  .contact .form form {
    font-size: 16px;
  }
  .contact .form #text {
    width: 18em;
  }
}
/* End contact us */

.footer {
  padding-top: var(--pad-sec-top);
  padding-bottom: var(--pad-sec-bot);
  background-color: var(--main-color);
}
.footer .container {
  display: grid;
  gap: 2em;
}
.footer .footer-box h3 {
  text-transform: capitalize;
  color: var(--sec-color);
  font-size: 1.2em;
  margin: 0.5em 0 1.5em;
}
.footer .footer-box li a {
  display: inline-block;
  color: var(--main-text-color);
  margin-bottom: 1.1em;
  font-size: 1em;
  cursor: pointer;
}
.footer-social {
  display: flex;
}
.footer .footer-box .footer-social a {
  margin-right: 0.8em;
  font-size: 1.3em;
}
.footer .footer-box li a:hover {
  color: var(--sec-color);
}
.footer .copy {
  display: block;
  padding: 4.5em 1em 0;
  text-align: center;
  color: var(--main-text-color);
  font-size: 0.6em;
  position: relative;
}
.footer .copy::before {
  content: "";
  position: absolute;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 75%;
  background-color: var(--shadow-text-color);
}
@media (min-width: 540px) {
  .footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
  .footer .copy {
    font-size: 0.8em;
  }
}
@media (min-width: 992px) {
  .footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
  }
  .footer .copy {
    font-size: 1em;
  }
}

/* Start Scroll up */

.scroll-up {
  position: fixed;
  bottom: -2em;
  right: 1em;
  color: var(--constant-color);
  padding: 0.1em 0.1em 0.05em;
  font-size: 1.7em;
  border: 1px solid var(--shadow-text-color);
  background-color: var(--qoute-color);
  z-index: 500;
  transition: bottom 0.5s ease, background-color 0.3s ease;
}
.scroll-up.to-top {
  bottom: 2em;
}
.scroll-up:hover {
  background-color: var(--main-color);
}
/* Start card menu */
.shop-menu {
  position: fixed;
  background-color: rgb(212, 160, 160);
  background-color: var(--main-color);
  min-height: 100vh;
  width: 25em;
  top: 0;
  right: -100%;
  z-index: 1000;
  padding: 1em;
  transition: right 0.3s ease-in-out;
  /* right: 0; */
}
.shop-menu.play-shop {
  right: 0;
}

.shop-menu .close-shop {
  text-align: right;
  padding: 0.2em;
}
.shop-menu .close-shop i {
  font-size: 2em;
  color: var(--sec-color);
  padding: 0.1em;
  cursor: pointer;
}
.shop-menu .shop-head {
  text-align: center;
  color: var(--sec-color);
  margin: 0.5em 0 1em;
  font-size: 1.3em;
  font-weight: 600;
}
.shop-menu .shop-items {
  height: 65vh;
  overflow-y: auto;
}
.shop-menu .shop-item {
  /* margin-bottom: 1em; */
  padding: 0.5em 1em;
  display: flex;
  flex-wrap: wrap;
}
.shop-item .shop-img {
  width: 6em;
  padding: .7em 1.2em;
  background-color: var(--qoute-color);
  border: 1px solid var(--border-color);
  margin-right: 0.5em;
}
.shop-item .shop-data {
  padding: 0.5em;
}
.shop-item .shop-data .shop-name{
  margin-bottom: 0.6em;
  font-size: 1em;
  font-weight: 600;
  color: var(--sec-color);
}
.shop-item .shop-value {
  display: block;
  font-size: 1em;
  font-weight: 600;
  color: var(--constant-color);
  margin-bottom: 1.3em;
}
.shop-item .shop-num {
  display: flex;
  align-items: center;
}
.shop-item .shop-num .increase,
.shop-item .shop-num .decrease{
  padding: 0.3em;
  font-size: 1em;
  color: var(--constant-color);
  background-color: var(--qoute-color);
  border: 1px solid var(--border-color);
}
.shop-item .counter {
  color: var(--main-text-color);
  padding: 0.3em;
  font-size: 1em;
  margin: 0 0.6em;
}
.shop-item .delete-shop-item {
  padding: 0.35em;
  font-size: 1.2em;
  color: var(--constant-color);
  margin-left: 2em;
}
.shop-menu .total-shop {
  flex-basis: 60%;
  justify-content: center;
  margin: 1em;
  font-size: 1em;
  color: var(--constant-color);
  padding: 0.5em 1em;
  text-align: center;
  background-color: var(--qoute-color);
  border: 1px solid var(--border-color);
}
@media (max-width: 768px) {
  .shop-menu {
    width: 100%;
  }
}
/* End card menu */


/* Start scroll bar  */
::-webkit-scrollbar {
  width: 0.5em;
  background-color: rgb(189, 189, 189);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(43, 43, 43);
}
/* End scroll bar  */